@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }
    .fs-24 {
        font-size: 22px !important;
    }
    .top_bar ul {
        float: inline-end;
        margin-bottom: 8px;
    }
    .banner_img {
        object-fit: cover;
        height: 100vh;
    }
    .menu {
        padding-top: 0;
    }

    li.nav-item.dropdown { 
        justify-content: start;
    }

    .nav-item.dropdown .fa-angle-down.rotate {
        transform: rotate(180deg);
    }

    .nav-item.dropdown .fa-angle-down { 
        top: 8px;
        right: 94px;
        position: absolute;
    }
    .submenu {
        transition: height 0.3s ease, opacity 0.3s ease;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        height: 0;
        top: 10px;
        position: relative;
    }
    
    .nav-item.dropdown.open .submenu {
        opacity: 1;
        visibility: visible;
        height: auto; /* This will allow natural height after opening */
    }

    li.nav-item.dropdown { 
        justify-content: center;
        flex-direction: column;
    }

    .submenu { 
        left: 0px;
    }

    .nav-item.dropdown .fa-angle-down.rotateoff {
        transform: rotate(0deg);
      }
    .nav-item.dropdown .fa-angle-down.rotate {
        transform: rotate(180deg);
      }

    header li.nav-item.dropdown .fa-angle-down:before {
        color: #555 !important;
    }

    .transparent .navbar-brand img {
        height: auto;
        width: 70%;
    }
    .navbar-brand img {
        height: auto;
        width: 70%;
    }
    .transparent .fa-bars:before,
    .transparent .fa-navicon:before {
        content: "\f0c9";
        color: #fff;
    }
    .fa-bars:before,
    .fa-navicon:before {
        content: "\f0c9";
        color: #000;
        width: 24px;
        height: 24px;
        display: block;
        font-size: 30px;
    }
    .navbar {
        padding: 10px 0;
    }
    .search_btn.search_btn_2 {
        padding: 7px;
        background-color: #0060ff;
        border-radius: 0 7px 7px 0;
    }
    .search-bar,
    .search-bar-for-tab {
        border-radius: 7px;
        position: absolute;
        top: 0;
        right: 26px;
    }
    .search-icon-wrapper {
        position: relative;
        left: 15px;
        top: 2px;
    }
    input.product-search {
        border: 0; 
    }
    .search-bar-filter input.product-search {
        border: 0;
        width: 80%;
    }
    .google_translate_tab {
        position: absolute;
        right: 60px;
    }
    .gtranslate_wrapper.gt_container--hich1m {
        top: -11px;
        position: absolute;
        right: 0;
    }
    button.navbar-toggler {
        border: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-brand {
        position: relative;
        padding: 0;
        bottom: 0;
        margin-top: 0 !important;
    }
    .navbar .container-fluid,
    .partnership .col-md-5 {
        padding: 0;
    }
    .offcanvas.offcanvas-end {
        background-color: #c1c6ca;
        height: 100vh;
        width: 40%;
        z-index: 1050;
        transition: 0.4s ease-in-out;
    }
    .btn-close:focus { 
        box-shadow: none; 
    }
    .header .navbar-nav .nav-item .nav-link,
    .header.transparent .navbar-nav .nav-item .nav-link {
        color: #5f5f5f;
        font-weight: 500;
        font-size: 18px;
    }
    .navbar-nav {
        gap: 0;
        margin-bottom: 8px;
    }
    .gt_container--hich1m .gt_switcher .gt_selected {
        z-index: 2 !important;
    }
    .sidebar_social_media {
        width: 35px;
        padding: 15px 5px 0 10px;
        height: 140px;
    }
    .fa-file-arrow-down,
    .sidebar_social_media_link {
        font-size: 18px;
    }
    .sidebar_instant_links .newsletter {
        width: 35px;
        padding: 20px 12px 0 22px;
        height: 133px;
    }
    .file-upload-label,
    .our_product_cards_div .card-text,
    .product_filter_gallery_div .card-text {
        font-size: 14px;
        white-space: nowrap;          /* Prevents text from wrapping to the next line */
        overflow: hidden;             /* Hides any text that overflows the container */
        text-overflow: ellipsis;
    }
    .banner_content {
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        margin-bottom: 30px;
    }
    #home_page_banner_slider .owl-nav button .fa-arrow-left {
        left: 20px;
    }
    .banner_view_button {
        font-size: 16px;
        font-weight: 400;
        padding: 5px 26px;
    }
    marquee {
        bottom: 20px;
        font-size: 50px;
    }
    .product_heading {
        font-size: 28px !important;
    }
    .our_product_cards_div .card img {
        width: 100%;
        height: 160px;
    }
    .our_product_cards_div .card,
    .product_filter_gallery_div .card {
        width: 100%;
    }
    .company_heading {
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
    }
    .since_content {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }
    #company_section .a_btn {
        padding: 4px 20px;
        font-weight: 400;
        font-size: 16px;
    }
    #company_section .fa-arrow-right {
        left: 10px;
        font-size: 14px;
        padding: 4px;
        width: 20px;
        height: 20px;
        top: 1px;
    }
    .saagar_speciality_chemical_machine {
        right: -24px;
    }
    .saagar_speciality_chemical_machine img {
        position: relative;
        right: 1em;
    }
    .about_info_box,
    .info_box {
        float: none;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 35px 35px 10px 38px;
        width: 45%;
        /* transform: translate(-1em, 0); */
    }

    .about_info_box { 
        left: 28px;
    }
    .about_info_box::before,
    .info_box::before {
        border-radius: 35px 40px 10px 35px;
    }
    .up_and_down {
        animation: 3s infinite upDown;
        transform: translate(-1em, 0);
    }
    @keyframes upDown {
        50% {
            transform: translate(-1em, -115px);
        }
    }
    .about_info_box h4,
    .info_box h4 {
        font-size: 24px;
    }
    .about_info_box p,
    .info_box p {
        font-size: 13px;
    }
    hr {
        margin: 0.5rem 0;
    }
    .industry_text_link {
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        padding-left: 16px !important;
    }
    img.rotate45 {
        width: 80%;
        float: inline-end;
    }
    .a_btn {
        padding: 2px 22px;
    }
    /* .owl-nav {
        display: none;
    } */
    section.why_sscpl {
        height: 580px;
    }
    img.moving_machine {
        width: 16%;
    }
    @keyframes leftRight {
        100% {
            transform: translateX(-38em);
        }
    }
    .sscl_img_div {
        width: 50px;
    }
    .sscl_img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .why_sscpl_bg_img {
        padding: 10px;
    }
    .supply_chain_partner .product_heading {
        padding-top: 30px !important;
    }
    .sscl_content {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .sscl_content:nth-last-child(-n + 4) {
        margin-bottom: 16px;
    }
    .sply_chn_content {
        font-size: 18px;
        line-height: 23px;
        padding-top: 16px;
    }
    .spply_chn_box {
        padding: 20px;
        border-radius: 30px;
        box-shadow: 0 1px 6px #777;
    }
    .content_img_div {
        height: 300px;
    }
    .spply_chn_box_img {
        width: 80%;
    }
    .spply_chn_title {
        font-size: 18px;
        font-weight: 500;
    }
    .spply_chn_btn {
        padding: 3px 10px;
        font-weight: 500;
        width: 140px;
        font-size: 14px;
    }
    .code_of_content_div {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    footer .row {
        justify-content: space-between;
    }
    .footer_useful_link_1_div,
    .footer_useful_link_2_div {
        padding-top: 20px;
    }
    .social_media_icon .fa {
        font-size: 22px;
    }
    .banner_heading_div {
        padding: 50px 0;
    }
    .banner_heading_text {
        font-size: 32px;
        line-height: 40px;
    }
    .our_product_cards_div {
        margin: 12px 0;
    }
    .product_filter_gallery_div {
        margin: 0px 0 16px;
        padding: 0px 6px;
    }
    .search-bar-filter .fa-search:before { 
        font-size: 14px; 
    }
    .search-bar-filter input { 
        padding: 10px 5px 10px 5px;
        border-radius: 10px;
    }
    .sidebar .search_btn { 
        padding-left: 8px;
        padding-right: 0px;
    }
    .search-bar-filter input::placeholder {
        font-size: 12px;
    }
    .filter_list {
        background-color: #fff;
        padding: 10px 10px;
    }
    .filter_list .list-group-item { 
        font-size: 12px;
        padding: 3px 3px;
    }
    .product_filter_gallery .card-body {
        height: 50px;
    }
    .btn_next_prev_div .fa, .our_product_cards_div .fa, .product_filter_gallery_div .fa {
        width: 20px;
        height: 20px;
        padding: 3px; 
    }
    .product_details .fa {
        width: 25px !important;
        height: 25px !important;
        padding: 5px !important;
    }
    .product_categories_page .our_product_cards_div .fa-arrow-right:before, .product_filter_gallery_div .fa-arrow-right:before {
        position: relative;
        bottom: 4px;
        font-size: 12px;
    }
    .btn_next_prev_div {
        justify-content: end;
        gap: 7px;
    }
    .function_title button.show {
        padding: 10px;
    }
    .product_di_butyl_phosphate .product_filter_gallery_div .card-text {
        font-size: 12px;
        width: 75%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .product_info.product-section .product_filter_gallery_div {
        padding-right: 0;
    }
    .delievery_types p {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
    }
    .enquiry_section .left_section .since_content,
    .enquiry_section .left_section p {
        line-height: 20px;
        font-size: 16px;
    }
    .enquiry_section form {
        text-align: center;
    }
    .enquiry_section .right_section {
        padding: 20px;
        border-radius: 20px;
        top: 35px;
    }
    .enquiry_section .right_section .form-control,
    .enquiry_section .right_section textarea {
        margin-top: 10px;
        font-size: 14px;
    }
    .enquiry_section .right_section form .btn {
        width: 60%;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        border-radius: 10px;
    }
    .enquiry_section .left_section li.since_content {
        font-size: 22px;
        line-height: 28px;
    }
    .faq .container {
        padding-top: 60px !important;
    }
    #faq_accordion .accordion-item {
        padding: 5px 0 0;
    }
    .faq .accordion-body { 
        padding: 0px 10px 20px;
    }
    h4.product_heading {
        font-size: 26px !important;
    }
    #add_career_form input::placeholder{
        font-size: 14px;
    }
    .contact_us_form.career_form .form-control,
    .contact_us_form.career_form textarea {
        padding: 10px 15px;
        font-size: 14px;
    }
    .contact_us_form button {
        width: 8em;
        padding: 3px 0;
        font-size: 14px;
    }

    .contact_us_page .product_heading {
        font-size: 28px;
        line-height: 30px;
    }
    .contact_info > div p {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 18px;
    }
    .contact_us_form .form-control,
    .contact_us_form textarea {
        border-radius: 10px;
        padding: 15px;
    }
    .contact_us_page .contact_us_form button {
        width: 7em;
        padding: 3px 0;
        font-size: 20px;
    }
    .contact_us_page .contact_us_form {
        border-radius: 30px;
    }
    .our_mission_main_div,
    .our_vission_main_div {
        height: auto;
    }
    .vision_mission img {
        width: 25%;
    }
}
@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .top_bar {
        display: flex;
        justify-content: center;
    }
    .search-icon-wrapper {
        position: relative;
        left: 10px;
    }
    .gtranslate_wrapper.gt_container--hich1m {
        position: absolute;
        right: -10px;
        top: -2px;
    }
    .gt_switcher.notranslate {
        width: 100% !important;
    }
    .gt_container--hich1m .gt_switcher .gt_selected a {
        width: 100px !important;
    }
    .gt_container--hich1m .gt_switcher a {
        font-size: 12px !important;
        line-height: 16px;
    }
    .gt_container--hich1m .gt_switcher .gt_option {
        width: 110px !important;
    }
    .gt_container--hich1m .gt_switcher .gt_selected {
        position: relative;
        z-index: 2 !important;
    }
    a.inline-box.nav-link {
        right: -10px;
        top: -10px;
    }
    .navbar-toggler {
        border: none;
        padding: 0 5px 0 0;
    }
    .navbar-brand {
        position: static !important;
        margin-top: 0;
    }
    .navbar-brand img {
        height: auto;
        width: 65%;
    }
    .btn-close:focus { 
        box-shadow: none; 
    }
    li.nav-item.dropdown { 
        justify-content: center;
        flex-direction: column;
    }
    .nav-item.dropdown .fa-angle-down.rotateoff {
        transform: rotate(0deg);
      }
    .nav-item.dropdown .fa-angle-down.rotate {
        transform: rotate(180deg);
      }
    header li.nav-item.dropdown .fa-angle-down:before {
        color: #555 !important;
    }
    .nav-item.dropdown .fa-angle-down { 
        top: 7px;
        right: 44px;
        position: absolute;
    }
    /* .nav-item.dropdown.close.open > .submenu {
        height: auto;
        transition: height 0.5s;
    }
    .nav-item.dropdown.close > .submenu {
        height: 0;
        transition: height 0.5s;
    } */
    .submenu {
        transition: height 0.3s ease, opacity 0.3s ease;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        height: 0;
        top: 15px;
        position: relative;
    }
    
    .nav-item.dropdown.open .submenu {
        opacity: 1;
        visibility: visible;
        height: auto; /* This will allow natural height after opening */
    }
    
    img.banner_img {
        width: 100%;
        object-fit: cover;
        height: 100vh;
    }
    .banner_contents_div {
        width: 80%;
        left: 12vw;
        top: 52vh;
    }
    .banner_content {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .navbar .container-fluid,
    .products_page .product_filter_gallery_div:nth-child(2n),
    .products_page .product_filter_gallery_div:nth-child(odd) {
        padding: 0;
    }
    .fa-bars:before,
    .fa-navicon:before {
        content: "\f0c9";
        color: #555;
        font-size: 26px;
        line-height: 22px;
    }
    .transparent button.navbar-toggler {
        padding: 1px 7px;
        border: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .offcanvas.offcanvas-end {
        transform: translatey(-100%);
        background-color: #c1c6ca;
        height: 100vh;
        width: 100%;
        z-index: 1050;
        transition: 0.4s ease-in-out;
    }
    .offcanvas.offcanvas-end.show {
        transform: translatey(0);
        transition: 0.4s ease-in-out;
    }
    .offcanvas-header .header_logo,
    .spply_chn_box_img {
        width: 80%;
    }
    .search_btn.search_btn_2 {
        padding: 7px;
        background-color: #0060ff;
        border-radius: 0 7px 7px 0;
    }
    .search-bar,
    .search-bar-for-tab {
        border-radius: 7px;
        margin-top: 5px;
    }
    input.product-search {
        border: 0;
    }
    .header .navbar-nav .nav-item .nav-link,
    .header.transparent .navbar-nav .nav-item .nav-link {
        color: #5f5f5f;
        font-weight: 500;
        font-size: 26px;
    }
    .management_team .container,
    header .nav-item,
    header.transparent .nav-item {
        text-align: center;
    }
    .banner_view_button,
    .enquiry_section p,
    .future_activites_link,
    .what_we_do_link {
        font-size: 16px;
    }
    #home_page_banner_slider .owl-nav button .fa-arrow-right {
        position: absolute;
        right: 10px;
        bottom: 50%;
    }
    #home_page_banner_slider .owl-nav button .fa-arrow-left {
        position: absolute;
        left: 10px;
        bottom: 50%;
    }
    #home_page_banner_slider .owl-nav .fa {
        font-size: 12px;
        width: 20px;
        height: 20px;
    }
    marquee {
        bottom: 5%;
        font-size: 40px;
    }
    .our_product_cards_div .card img {
        width: 100%;
        height: auto;
    }
    .our_product_cards_div .card-body {
        padding: 6px;
    }
    .our_product_cards_div .card-text,
    .product_filter_gallery_div .card-text {
        font-size: 14px;
        width: 80%;
    }
    .btn_next_prev_div .fa,
    .our_product_cards_div .fa,
    .product_filter_gallery_div .fa {
        width: 22px;
        height: 22px;
        padding: 4px;
    }
    .our_product_cards_div .fa-arrow-right:before {
        bottom: 3px;
        font-size: 13px;
    }
    .industry_contents_main_div > div:nth-child(2n),
    .our_product_cards_div:nth-child(2n) {
        padding-left: 5px;
    }
    .industry_contents_main_div > div:nth-child(odd),
    .our_product_cards_div:nth-child(odd) {
        padding-right: 5px;
    }
    .industry_content_div,
    .our_product_cards_div {
        margin: 5px 0;
    }
    .our_product_cards_div a {
        justify-content: center !important;
    }
    .our_product_cards_div .card,
    .product_filter_gallery_div .card,
    img.sscl_img {
        width: 100%;
    }
    .company_heading {
        font-size: 26px;
        line-height: 27px;
        margin-bottom: 16px;
    }
    .since_content {
        font-size: 16px;
        line-height: 20px;
    }
    .a_btn {
        padding: 5px 30px;
        font-weight: 400;
        font-size: 16px;
    }
    .white_btn {
        border: 1px solid #fff;
    }
    .saagar_speciality_chemical_machine {
        position: relative;
        bottom: -2em;
    }
    .saagar_speciality_chemical_machine img {
        position: relative;
        right: 0;
        width: 100% !important;
    }
    .about_info_box,
    .info_box {
        float: none;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 30px 20px 10px 40px;
        width: 45%;
    }
    .contact_us_form,
    .spply_chn_box {
        border-radius: 20px;
    }
    .about_info_box::before,
    .info_box::before {
        border-radius: 30px 30px 10px 38px;
    }
    .up_and_down {
        animation: none;
        transform: translateY(0);
    }
    .about_info_box h4,
    .info_box h4,
    h4.product_heading {
        font-size: 24px;
    }
    .about_info_box p,
    .future_activites_main_div .card-text,
    .info_box p,
    .product_filter_gallery_div .fa-arrow-right:before,
    .what_we_do_main_div .card-text {
        font-size: 13px;
    }
    hr {
        margin: 0.5rem 0;
    }
    .product_heading {
        font-size: 24px !important;
        float: inherit !important;
    }
    .industry_content {
        width: 100%;
        padding: 0 5px;
    }
    .industry_text_link {
        font-size: 16px;
        line-height: 20px;
        width: 100%;
    }
    .industry_arrow_link {
        width: 30%;
    }
    img.rotate45 {
        width: 100%;
        float: inline-end;
    }
    #future_activity_slider .owl-nav,
    #what_we_do_slider .owl-nav {
        display: none !important;
    }
    .future_activites_main_div .card-title,
    .what_we_do_main_div .card-title,
    h5.form_mark {
        font-size: 18px;
    }
    .about_us ol li,
    .about_us ul li,
    .copyright_content,
    .delievery_types p,
    .product_heading_btn_next_prev_div .fa-arrow-left:before,
    .product_heading_btn_next_prev_div .fa-arrow-right:before,
    .search-bar input,
    .spply_chn_title,
    .sscl_content {
        font-size: 14px;
    }
    section.why_sscpl {
        height: auto;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .why_sscpl_bg_img {
        position: relative;
        top: 10px;
        padding: 10px;
    }
    .sscl_content {
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .spply_chn_box {
        padding: 10px;
    }
    .spply_chn_box_img_div {
        height: 60px;
        margin: 5px 0;
    }
    .three_boxes_div > div:nth-child(odd) {
        padding-right: 9px;
    }
    .three_boxes_div > div:nth-child(2n) {
        padding-left: 9px;
    }
    .sply_chn_content {
        font-size: 14px;
        line-height: 20px;
    }
    .spply_chn_btn {
        padding: 3px 12px;
        width: 110px;
        font-size: 12px;
    }
    .future_activites_main_div img { 
        height: auto;
    }
    .three_boxes_div {
        position: relative;
        left: 0;
        bottom: 0;
        padding-bottom: 10px;
    }
    .about_us_story_div .saagar_speciality_chemical_machines img,
    .product_img_div {
        position: static;
        width: 100%;
    }
    .cor_values .right_img {
        width: 100%;
    }
    .product_filter_gallery_div,
    .three_boxes_div > div {
        margin: 10px 0;
    }
    .product_description .accordion-body,
    .product_img_div {
        margin-bottom: 15px;
    }
    .content_img_div {
        height: auto;
    }
    .code_of_content_div {
        font-size: 14px;
        line-height: 22px;
    }
    .banner_heading_text {
        font-size: 30px;
        line-height: 34px;
    }
    .banner_heading_breadcrumb li {
        font-size: 14px;
        font-weight: 400;
    }
    .banner_heading_div {
        padding: 50px 0;
    }
    img.right_img.what_we_do_img {
        margin-top: 0;
    }
    .enquiry_section {
        padding: 20px 10px;
    }
    #faq_accordion .accordion-item,
    .accordion-body,
    .function_title button,
    .search_btn {
        padding: 10px;
    }
    .enquiry_section .left_section .since_content {
        line-height: 22px;
    }
    .since_content.fs-24 {
        font-size: 20px !important;
    }
    .enquiry_section .left_section li.since_content {
        font-size: 18px;
        line-height: 30px;
    }
    .enquiry_section .right_section {
        padding: 20px;
        position: static;
        text-align: center;
        box-shadow: none;
    }
    .enquiry_section .right_section .form-control,
    .enquiry_section .right_section textarea {
        margin-top: 10px;
        font-size: 14px;
    }
    .enquiry_section .right_section form .btn {
        width: 50%;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
    }
    .faq .container {
        padding: 20px 10px !important;
    }
    #faq_accordion .accordion-body p,
    .footer_location_div p {
        margin-bottom: 0;
    }
    .contact_us_form .form-control,
    .contact_us_form textarea,
    .contact_us_form.career_form .form-control,
    .contact_us_form.career_form textarea {
        padding: 15px;
        border-radius: 14px;
        font-size: 14px;
    }
    .contact_us_form button {
        padding: 3px 0;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
    }
    .address_and_map iframe {
        border-radius: 20px !important;
    }
    .btn_next_prev_div .fa-arrow-left:before,
    .btn_next_prev_div .fa-arrow-right:before,
    .product_categories_page .our_product_cards_div .fa-arrow-right:before,
    .product_filter_gallery_div .fa-arrow-right:before {
        position: relative;
        bottom: 3px;
    }
    .search_btn {
        background-color: #fff;
        font-size: 14px;
    }
    .filter_list .list-group-item {
        padding: 5px 0;
    }
    .product_filter_gallery {
        padding: 20px 10px 10px;
    }
    .product_info.product-section .product_filter_gallery_div {
        margin: 15px 0;
    }
    /* .product_categories_page .product_filter_gallery_div:nth-child(2n),
    .product_categories_page .product_filter_gallery_div:nth-child(odd),
    .product_info.product-section .product_heading {
        padding-left: 0;
    }
    .product_filter_gallery_div:nth-child(odd) {
        padding-left: 7px;
    }
    .product_filter_gallery_div:nth-child(2n) {
        padding-right: 7px;
    } */
    .product_filter_gallery .card-body {
        height: 70px;
        top: 5px;
    }
    .about_info_box.info-box {
        float: none;
        border-radius: 45px 50px 10px 40px;
        left: 12px;
    }
    .story_small {
        margin-bottom: 10px;
    }
    .sscl_img_div {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
    }
    .sscl_img {
        left: 0;
    }
    .our_mission_main_div,
    .our_vission_main_div {
        height: auto;
        padding: 20px;
    }
    footer.footer {
        padding: 20px 0 !important;
    }
    footer a {
        font-size: 14px;
        padding-bottom: 0;
    }
    .social_media_icon .fa {
        font-size: 20px;
    }
    .sidebar_instant_links {
        display: none;
    }
    .footer_useful_link_1_div ul {
        margin-bottom: 5px;
    }
}
