@media screen and (max-width:767px) {

    p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 1.5rem !important;
    }

    .whatsappdesktop {
        transform: translate(0%, 40em) !important;
        width: 100%;
    }

    .whatsappdesktop i {
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 24px;
    }

    .whatsappdesktop a {
        float: inline-end;
        position: relative;
        right: 20px;
        top: 10px;
    }

    /* home page start */

    .preloader svg {
        width: 95%;
    }

    .header {
        position: relative;
        background: #5aa236;
        height: 60px;
    }

    header>a {
        position: relative;
    }

    header .footer_logo_text {
        font-size: 18px;
    }

    .hamburger-menu {
        width: 30px;
        height: 25px;
        top: 14px;
        right: 14px;
    }

    .hamburger-menu span:nth-child(1),
    .hamburger-menu span:nth-child(3) {
        width: 20px;
    }

    .hamburger-menu span {
        width: 28px;
        height: 5px;
    }

    .menu-trigger:checked~.hamburger-menu span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .menu-trigger:checked~.hamburger-menu span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .menu-links {
        font-size: 24px;
        padding: 10px 12px;
    }

    .menu-links li {
        text-align: center;
        margin: 28px 0;
    }

    .menu-links li:hover {
        transform: scale(1.05) !important;
    }

    .menu-links li a {
        letter-spacing: 2px;
        line-height: 40px;
    }

    .logo_text {
        font-size: 28px;
    }

    .music_section>div {
        padding-top: 10em;
    }

    .music_director {
        font-size: 18px;
        padding: 0px 12px;
    }

    .music_section .zip_zap_bg_img {
        align-items: start;
        margin-top: 0px;
    }

    .headphone_text_img {
        width: 100%;
        margin-top: 0em;
        padding: 0px 12px 5px;
    }

    a.decoration-underline {
        margin-top: -10px;
        padding: 0px 12px;
        font-size: 14px;
    }

    .para_font,
    .achievement_top_desecription p {
        margin-bottom: 10px !important;
        padding: 0px 10px;
    }

    .sooryavanshi_divs .para_font {
        padding: 0px 0px;
        margin-bottom: 0px !important;
    }

    .para_font p,
    .achievement_top_desecription p {
        font-size: 14px;
        margin-bottom: 10px !important;
        text-align: start;
    }

    .section-heading {
        font-size: 40px;
        margin-top: 20px;
    }

    .view-more {
        font-size: 14px;
    }

    .home_his_work .reveal-img {
        padding: 10px 12px;
    }

    .middle_description {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .section_contents.para_font {
        text-align: start;
    }

    .home_his_work {
        text-align: left !important;
        padding-top: 30px;
    }

    .home_his_work h2 {
        padding-left: 12px;
    }

    .home_his_work .view-more {
        position: relative;
        top: 10px;
    }

    .zip_zap_bg_img_container .view-more {
        padding: 0px 12px;
    }

    #bars2 {
        top: -20px;
        height: 40px;
        width: 37%;
    }

    #bars2 .bar {
        position: absolute;
        bottom: 20px;
    }

    @keyframes sound2 {
        0% {
            opacity: .35;
            height: 5px;
        }

        100% {
            opacity: 1;
            height: 35px;
        }
    }

    .film_section .section-heading {
        font-size: 50px;
    }

    .film_list li {
        height: auto;
    }

    .film_link {
        font-size: 16px;
    }

    .film_link:hover,
    .film_link:focus {
        font-size: 18px;
    }

    .film_link:hover+.film_img,
    .film_link:focus+.film_img {
        opacity: 1 !important;
        visibility: visible !important;
        transform: scale(2.5) rotate(15deg) !important;
        transition: all 0.5s ease;
    }

    #home_page .non_film_section .side_headphone {
        width: 40%;
        height: auto;
        top: -22em;
        opacity: 0.4;
    }

    .playlist_heading_div {
        bottom: 8em;
        left: 12em;
    }

    .playlist_heading {
        font-size: 40px;
        opacity: 0.4;
    }

    .non_film_music {
        padding: 0px 12px;
    }

    .non_film_section {
        position: relative;
        height: auto;
    }

    img.music-icon {
        width: 10px !important;
    }

    .non_film_music .film_list li,
    .film_list li {
        margin-top: 10px;
    }

    .slidercircle {
        display: none;
    }

    /* home page end */

    /* contact us page start */

    main>section:nth-child(1) {
        padding-top: 4em !important;
    }

    .contact_heading_div {
        padding-bottom: 20px;
    }

    .contact_heading,
    .section_title {
        font-size: 40px;
        bottom: inherit;
    }

    .contact_us_heading_img {
        width: 25%;
    }

    .contact_form {
        padding: 20px 12px;
    }

    .object_bg_img .zip_zap_bg_og_img {
        position: absolute;
        width: 100%;
        right: 0px;
        top: 60px;
    }

    .form_heading {
        font-size: 40px;
    }

    .contact_form .form-control {
        font-size: 14px;
    }

    .contact_form .submit_btn {
        font-size: 14px;
    }

    .contact_form .submit_btn {
        border-radius: 6px;
        width: 6em;
        height: 36px;
    }

    .contact_buffer_div {
        top: 0px;
        padding: 20px 0px;
    }

    .buffering_text {
        left: 30px;
        top: 1.2em;
        font-size: 60px;
    }

    img.contact_headphone_image {
        width: 50%;
    }

    /* contact page end */

    /* gallery page start */

    div.masonry_gallery {
        column-width: 100vw !important;
        column-gap: 2em !important;
        padding: 12px 12px 20px;
        width: 100%;
    }

    div.masonry_gallery .masonry_gallery_div {
        width: 100%;
        margin-bottom: 12px;
    }

    #gallery_videos .item {
        margin-bottom: 12px;
    }

    button.btn.gallery_yt_video {
        width: 4em !important;
        height: 4em !important;
        background-size: 100% !important;
    }

    /* gallery page end */

    /* works page start */

    #works_page .film_section {
        background: linear-gradient(180deg, #218ee3 86.5%, #fff 13.5%);
    }

    #works_page .non_film_section {
        padding-bottom: 0vw;
    }

    #works_page .ott_music_section {
        /* background: linear-gradient(180deg, #fff 52%, #59a246 48%); */
    }

    #bars11 {
        left: 20vw;
    }

    #bars12 {
        right: 14vw;
    }

    .headphone_heading {
        position: relative;
        width: 25%;
    }

    .works_headphone_heading {
        align-items: center;
        padding-bottom: 20px;
    }

    .category_title {
        font-size: 20px;
    }

    #bars6 {
        left: 10px;
    }

    #bars7 {
        right: -70px;
    }

    #bars8 {
        left: 3px;
    }

    #bars9 {
        right: -1rem;
    }

    .none_film_heading.pt5 {
        padding: 20px 0px;
    }

    .film_row,
    .non_film_row {
        padding: 0px 12px;
    }

    #works_page .film_row .card-title,
    .non_film_row .non_film_card_title {
        font-size: 28px;
        line-height: inherit;
        text-align: center;
    }

    /* works page end */

    /* achievements page start */

    .achievements_main_name {
        font-size: 60px;
    }

    .achievements_section {
        background: linear-gradient(180deg, #218ee3 0%, #218ee3 40%, #59a246 40%, #59a246 100%);
    }

    .achievement_card .card-body {
        padding: 0px 12px;
    }

    .award_name {
        font-size: 26px;
        line-height: 26px;
    }

    .achievement_page_gallery {
        padding: 20px 12px 15px !important;
    }

    .float-up {
        padding-right: 0px !important;
    }

    .award_main_div {
        padding-right: 0px !important;
    }

    .achievement_card img {
        width: 100% !important;
    }

    .h_63 {
        height: inherit !important;
    }

    .headphones_icon {
        width: 29%;
        position: relative;
        top: 10px;
        left: 0px;
    }

    .video_div {
        width: 100%;
        padding-bottom: 15px;
    }

    .achievements_section #gallery_videos,
    #gallery_videos>div {
        padding-right: 0px;
    }

    #gallery_videos img {
        height: auto;
    }

    /* achievements page end */

    /* about us page start */

    .azeem_big_photo {
        width: 100%;
        right: 0px;
        padding: 0px 12px 15px;
    }

    /* .music_director_composer_main_div .zip_zap_bg_og_img {
        width: 100%;
        right: 0px;
        top: inherit !important;
        bottom: 9em;
    } */

    .about_azeem_dayani {
        padding-bottom: 130%;
    }

    .about {
        left: 0px;
        position: relative;
        padding-top: 20px;
        top: 0px;
    }

    .music_director_composer_heading {
        font-size: 18px;
        padding: 0px 12px;
    }

    .about_main_div .footer_logo_text {
        font-size: 22px;
        width: 100%;
        bottom: 10px;
        right: 0px;
        margin-top: 0px;
        padding: 0px 12px;
    }

    .music_director_composer_main_div:after {
        display: none;
    }

    .azeem_stadium_img_div {
        bottom: 0px;
    }

    .azeem_stadium_img {
        right: 0px;
        width: 100%;
        padding: 0px 12px 20px;
    }

    .small_heading {
        font-size: 16px;
        padding: 10px 12px;
        margin-bottom: 0px !important;
    }

    .work_with_team_heading {
        font-size: 30px;
        padding: 0px 12px;
    }

    .vision_main_section {
        background: linear-gradient(180deg, #fff 84%, #218ee3 47%);
    }

    .vision_main_image {
        width: 100%;
        padding: 10px 12px;
    }

    .vision_main_section .film_music_zig_zag_img_div {
        top: -5em;
        left: inherit;
        display: flex;
        justify-content: center;
    }

    .vision_main_section .film_music_zig_zag_img_div .film_music_zig_zag_img {
        width: 90%;
    }

    #about_us_page .slidercircle {
        display: none;
    }

    .film_music_zig_zag_img {
        width: 100%;
        top: 4em;
    }

    .vision_main_section {
        padding: 3.5em 0 8.5em;
    }

    #about_us_page .vision_heading {
        transform: rotate(0deg);
        position: absolute;
        top: -30px;
        left: 0px;
        text-align: center;
        font-size: 26px !important;
        color: #218ee3 !important;
    }



    /* footer */

    .footer_logo_text {
        font-size: 24px;
    }

    footer .footer_logo_text {
        text-align: left;
        padding-left: 12px;
    }

    footer .footer_list {
        text-align: start;
    }

    .footer_link {
        font-size: 14px;
    }

    .social_media_links {
        font-size: 16px;
    }

    #bars3 .bar {
        bottom: -10px;
        height: 3px;
        width: 2px;
    }

    @keyframes sound3 {
        0% {
            opacity: .35;
            height: 5px;
        }

        100% {
            opacity: 1;
            height: 50px;
        }
    }

    .footer_links_div {
        padding: 10px 0 10px;
    }


}

@media screen and (min-width:768px) and (max-width:991px) {
    p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 1.5rem !important;
    }

    .whatsappdesktop {
        transform: translate(0%, 487px) !important;
        width: 100%;
    }

    .whatsappdesktop i {
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 24px;
    }

    .whatsappdesktop a {
        float: inline-end;
        position: relative;
        right: 25px;
        top: 5px;
    }

    main>section:nth-child(1) {
        padding-top: 4em !important;
    }

    .preloader svg {
        width: 95%;
    }

    .header {
        position: relative;
        background: #5aa236;
        height: 60px;
    }

    header>a {
        position: relative;
    }

    header .footer_logo_text {
        font-size: 22px;
    }

    .hamburger-menu {
        width: 30px;
        height: 25px;
        top: 14px;
        right: 14px;
    }

    .hamburger-menu span:nth-child(1),
    .hamburger-menu span:nth-child(3) {
        width: 20px;
    }

    .hamburger-menu span {
        width: 28px;
        height: 5px;
    }

    .menu-trigger:checked~.hamburger-menu span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .menu-trigger:checked~.hamburger-menu span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .menu-links {
        font-size: 24px;
        padding: 10px 12px;
    }

    .menu-links li {
        text-align: center;
        margin: 28px 0;
    }

    .menu-links li:hover {
        transform: scale(1.05) !important;
    }

    .menu-links li a {
        letter-spacing: 2px;
        line-height: 40px;
    }

    .zip_zap_bg_img {
        margin-top: 10px;
    }

    .para_font,
    .para_font p {
        margin-bottom: 5px !important;
    }

    .view-more {
        font-size: 14px;
        text-decoration: underline;
    }

    .middle_description {
        padding-top: 30px;
    }

    .zip_zap_bg_img_container .view-more {
        padding: 0px 12px;
    }

    .home_his_work .view-more {
        position: relative;
        top: 15px;
    }

    .reveal-img {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .section_contents.para_font {
        padding-top: 30px;
    }


    .film_link {
        font-size: 18px;
    }

    .film_link:hover,
    .film_link:focus {
        font-size: 20px;
    }

    .film_link:hover+.film_img,
    .film_link:focus+.film_img {
        opacity: 1 !important;
        visibility: visible !important;
        transform: scale(1.5) rotate(15deg) !important;
        transition: all 0.5s ease;
    }


    .film_list li {
        height: auto;
        margin-bottom: 10px;
    }

    .non_film_music .film_list li {
        margin-top: 10px;
    }

    img.music-icon {
        width: 15px !important;
    }

    footer .footer_logo_text {
        font-size: 24px;
    }

    .footer_link {
        font-size: 14px;
    }

    .social_media_links {
        font-size: 16px;
    }

    #bars3 .bar {
        bottom: -10px;
        height: 3px;
        width: 2px;
    }

    @keyframes sound3 {
        0% {
            opacity: .35;
            height: 5px;
        }

        100% {
            opacity: 1;
            height: 50px;
        }
    }


    /* about us page */

    .about_main_div .footer_logo_text {
        margin-top: 0px;
    }

    .music_director_composer_main_div:after {
        bottom: -18em;
    }

    .azeem_stadium_img_div {
        position: absolute;
        right: 0px;
        bottom: 20px;
    }

    .about_azeem_dayani {
        padding-bottom: 22em;
    }

    /* works page */

    #works_page .film_row .card-title,
    #works_page .non_film_row .card-title,
    .award_name {
        font-size: 24px;
        margin-bottom: 0px;
        line-height: 26px;
    }

    #works_page .card_main:nth-last-of-type(3) .card-body .card-text,
    #works_page .card_main:nth-last-of-type(3) .card-title {
        color: #fff;
        /* Set text color to white */
    }

    .works_section .card-body {
        padding-top: 12px;
    }

    /* achievements page */

    .achievements_section .award_main_div:nth-last-of-type(1),
    .achievements_section .award_main_div:nth-last-of-type(2) {
        margin-top: 0px;
    }

    button.close span {
        font-size: 3em;
        line-height: 30px;
    }

    .modal-title {
        font-size: 16px;
    }

    /* gallery page */

    div.masonry_gallery {
        column-width: 18em;
        column-gap: 1em;
    }

    div.masonry_gallery .masonry_gallery_div {
        margin-bottom: 1em;
    }

    /* contact us page */

    .form_heading {
        font-size: 46px;
    }

    .contact_form .form-control {
        font-size: 14px;
    }

    .contact_buffer_div {
        top: 0px;
    }

    .buffering_text {
        font: 4em 'tungsten';
        left: 1em;
        top: 50px;
    }

    img.contact_headphone_image {
        width: 50%;
    }
}


@media screen and (min-width:992px) and (max-width:1100px) {

    p {
        font-size: 14px;
    }

    .whatsappdesktop {
        transform: translate(0%, 487px) !important;
        width: 100%;
    }

    .whatsappdesktop i {
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 24px;
    }

    .whatsappdesktop a {
        float: inline-end;
        position: relative;
        right: 30px;
        top: 0px;
    }

    .menu-trigger:checked~.hamburger-menu span:nth-child(3) {
        transform: translateY(-0.9vw) rotate(-45deg);
    }

    .zip_zap_bg_img {
        margin-top: 1.29vw;
    }

    #icon-container.middle_description {
        background-position: -65vw -28vw !important;
    }

    .view-more {
        font-size: 14px;
    }

    img.music-icon {
        width: 18px !important;
    }

    .footer_link {
        font-size: 16px;
    }

    /* about us page */

    .about_azeem_dayani {
        padding-bottom: 38vw;
    }

    .music_director_composer_main_div:after {
        bottom: -30vw;
    }

    .azeem_stadium_img {
        bottom: -6vw;
    }

    /* achievements page */

    .achievements_section {
        background: linear-gradient(180deg, #218ee3 0vw, #218ee3 75vw, #ffffff 75vw, #ffffff 95vw, #59a246 95vw, #59a246 100%);
    }

    .award_name {
        font-size: 2.4vw;
        line-height: 2.3vw;
    }

    .achievement_card img {
        width: 90% !important;
    }

    .achievements_section .award_main_div {
        margin-top: 0px !important;
    }

    /* contact us page */

    .form_heading {
        font-size: 5vw;
    }

    .contact_buffer_div {
        top: 0vw;
    }

    .buffering_text {
        font: 7.7vw 'tungsten';
        left: 8vw;
        top: 6vw;
    }

    img.contact_headphone_image {
        width: 50%;
    }

    .contact_form .form-control {
        font-size: 1.5vw;
    }
}

@media screen and (min-width:1101px) and (max-width:1250px) {
    #icon-container.middle_description {
        background-position: -47vw -25vw !important;
    }
}